:root {
  --font-family: "Inter", sans-serif;
  --second-family: "Poppins", sans-serif;
  --mainbodyColor : #17191C;
  --secondBodyColor: rgba(196, 184, 184, 0.788);
  --mainTextColor : rgb(245, 242, 242);
  --secondaryText: black;
  --mainDesignColor:  #31A8FF;
  --secondDesigncolor : #07bed2eb;
}
*{
    margin-top: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 1480px;
    max-width: 100%;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.align-center{
    align-items: center;
}
ul,li{
    list-style: none;
}
h1,h2,h3,h4,h5,h6,p,span{
    padding: 0;
    margin: 0;
}
body{
  background-color: var(--mainbodyColor);  
  color: var(--mainTextColor);
}

/* nav starts here */
nav{
 box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
 nav img{
   width: 150px;
 }
 nav ul li{
    padding: 8px 12px;
    margin: 0 4px;
 }
nav ul li.nav-item {
  position: relative;
  display: inline-block;
  transition: 0.3s;
}

nav ul li a.nav-link {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 14px;
  color: var(--mainTextColor) !important;
  transition: 0.3s;
  position: relative;
  padding: 5px 10px;
}

nav ul li.nav-item:hover {
  transform: scale(1.1);
  transition: 0.3s;
  background-color: black;
  border-radius: 3px;
  box-shadow: rgba(43, 20, 126, 0.402) 0px 3px 8px;
}

nav ul li:hover a {
  color: var(--mainDesignColor);
}

nav ul li a.nav-link::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -6px;
  width: 0;
  height: 2px;
  background: var(--mainDesignColor);
  transform: translateX(-50%);
  transition: 0.3s;
}

nav ul li a.nav-link::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -8px;
  transform: translateX(-50%) rotate(45deg);
  width: 6px;
  height: 6px;
  background: var(--mainDesignColor);
  opacity: 0;
  transition: 0.4s;
}

nav ul li.nav-item:hover a.nav-link::after {
  width: 100%;
}

nav ul li.nav-item:hover a.nav-link::before {
  opacity: 1;
}
 nav.navbar .btn.btn-primary {
  background: #31a8ff;
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 14px;
  color: #fff;
  border-radius: 3px;
  width: 182px;

}

nav.navbar .btn.btn-primary:hover {
  outline: #31a8ff;
  background-color: transparent;
  transform: scale(1.05);
   transition: all 0.3s ease;
}

nav button i{
 color: var(--mainTextColor);
 font-size: 28px;
}
nav .navbar-collapse button i{
  font-size: 14px;
}
/* nav ends here */

/* offcanvass starts */
.offcanvas{
  background-color: var(--mainbodyColor);
  max-width: 80%;
}
.offcanvas .btn-close{
   filter: invert(1);
 font-size: 20px;
}
.offcanvas  button i{
  font-size: 14px;
}
/* offcanvas ends */

/* hero part starts here */
.typed-cursor{
  display: none !important;
}
.hero-img img {
  max-width: 90%;
  margin-left: 20px;
}
.intro-text {
  color: #00aaff;
  font-weight: 500;
}

.text-primary {
  color: #1e90ff !important;
}

.btn-outline-primary {
  border: 1px solid #1e90ff;
  color: #fff;
}

.btn-outline-primary:hover {
  background-color: #31a8ff;
  color: #fff;
}

/* Sidebar style */
.social-sidebar {
  position: relative;
  background: #1e2227;
  border-left: 2px solid #00aaff;
  border-radius: 0 0 30px 30px;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  height: 400px;
  width: 70px;
  border-top-right-radius: 0;
  border-bottom-left-radius: 40px;
  box-shadow: inset 0 0 8px rgba(0, 170, 255, 0.3);
}

.social-sidebar ul li {
  margin: 10px 0;
}

.social-sidebar ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  border: 1px solid #00aaff;
  border-radius: 50%;
  color: #00aaff;
  font-size: 18px;
  transition: all 0.3s ease;
}

.social-sidebar ul li a:hover {
  background: #00aaff;
  color: #fff;
  transform: scale(1.1);
  box-shadow: 0 0 10px #00aaff;
}

.follow-text {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  color: white;
  font-size: 14px;
  margin-top: 10px;
  text-transform: uppercase;
}
/* heropart ends here */

/* skill part starts */

.skills-section {
  background: #1e2227;
}

.skill-card {
  background: #2a2f36;
  border-radius: 12px;
  text-align: center;
  padding: 25px 15px;
  transition: all 0.4s ease;
}

.skill-card:hover {
  transform: translateY(-8px);
   box-shadow: inset 0 0 8px rgba(0, 170, 255, 0.6);
}

.skill-card h5 {
  color: #fff;
  margin-bottom: 15px;
  font-weight: 500;
}

.skill-icon img {
  width: 70px;
  height: 70px;
  object-fit: contain;
  margin-bottom: 20px;
}

/* Progress Bar */
.progress-container {
  position: relative;
  height: 8px;
  background: #d0d5daf7;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 15px;
}

.progress-bar {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0%;
  background: #00aaff;
  border-radius: 10px;
  transition: width 1.8s ease-out;
}

/* the % box ABOVE bar */
.progress-value {
  position: absolute;
  top: 10px;
  left: 0;
  transform: translateX(-50%);
  background: #00aaff;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  padding: 2px 6px;
  border-radius: 5px;
  transition: left 1.8s ease-out;
}

/* skill parts ends  */

